# SPDX-License-Identifier: GPL-2.0 OR MIT
# Copyright 2017-2019 Qiang Yu <yuq825@gmail.com>

config DRM_LIMA
       tristate "LIMA (DRM support for ARM Mali 400/450 GPU)"
       depends on DRM
       depends on ARM || ARM64 || COMPILE_TEST
       depends on MMU
       depends on COMMON_CLK
       depends on OF
       select DRM_SCHED
       select DRM_GEM_SHMEM_HELPER
       select PM_DEVFREQ
       select DEVFREQ_GOV_SIMPLE_ONDEMAND
       help
	 DRM driver for ARM Mali 400/450 GPUs.

config DRM_LIMA_OF_ID_PREFIX
       string "Device Tree ID prefix"
       default "arm,mali-"
       depends on DRM_LIMA
       help
	 ID prefix specified in the compatible property of the device tree.

config DRM_LIMA_OF_ID_PARAMETERIZE
       bool "Parameterize Device Tree ID"
       default n
       depends on DRM_LIMA
       help
	 Parameterize the device ID of Lima so that it can be changed at boot time.
	 For example, specify lima.of_400_id=arm,mali-400 as a boot paramater.
